    body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: hsl(243, 87%, 12%);
    background-color: white;
    overflow-x: hidden;

}

main {
    margin: 4% 0 0 5%;
}

.logo {
    margin: 0;
}

.logoFooter {
    filter: invert(50%) sepia(100%) saturate(3555500%); /* changed svg file with dif colors to white // no clue what i did with the saturation but it worked */
    position: relative;
    top: 6rem;
    left: 5.5rem;
}

h1, #name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
}

.sectionOne {
    position: relative;
    top: -0.5rem;
}

nav {
    display: flex;
    justify-content: end;
    margin: -5% 5% 0 0;
    gap: 3rem;
}

.f:hover, .t:hover, .s:hover { /* features, team, sign in hover */
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 5px;
}


.landingTitel {
    margin-top: 12rem;
}

#intro {
    margin-right: 60%;
}

.inputEmail {
    width: 53%;
    height: 5vh;
    margin: 1rem 0 0 0;
    border: 1px solid black;
    padding-left: 3%;
    border-radius: 3px;
    font-size: 14px;
}
  
.startBtn {
    width: 31%;
    height: 5.5vh;
    margin-left: 2%;
    color: white;
    background-color: hsl(224, 93%, 58%);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;

}

.startBtn:hover, .startBtn2:hover {
    background-color: hsl(224, 93%, 70%);
    transition-duration: 1s;
}

.illu1, .illu2 {
    width: 100%;
    object-fit: contain;
    margin: 5vh 0 0 5vh;
}

.illu2 {
    margin: 0 20% 0 0;
}


#leftSide {
    width: 520px;
    height: 50rem;
}

#rightSide {
    width: 620px;
    height: 100%;
    margin-top: 3rem;
}

#leftSideBottom {
    width: 70rem;
    height: 25rem;
}

#rightSideBottom {
    width: 70rem;
    height: 25rem;
    position: relative;
    top: 10vh;
    right: 4vw;
}

#wrapper {
    display: flex;
    gap: 5%;
}

#wrapperBottom {
    width: 80rem;
    height: 35rem;
    display: flex;
    gap: 5%;
    background-color: hsl(255, 40%, 98%);
    padding: 15%;
    margin: -12% 0 0 -15%;
}

#bgCurve {
    margin: 0 0 5vh -5.8%;
    z-index: 1000;

}

.introD {
    color: hsl(170, 45%, 43%);
    text-underline-offset: 10px;
}

.introD:hover {
    color: hsl(170, 56%, 59%);
}

.iconArrow {
    position: relative;
    top: 4px;
}

.infoSection {
    margin-right: 5rem;
}

#card {
    margin-top: 50px;
    width: 23rem;
    height: 13.5rem;
    color: hsl(238, 22%, 44%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px hsla(0, 0%, 78%, 0.235);
    font-weight: 700;
    padding: 2rem 3rem 0 2rem;
}


#authorSection {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

#avatar {
    width: 10%;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 1rem;
}

#iconQuotes {
    margin-bottom: 0.5rem;
}


span {
    color: hsl(238, 22%, 44%);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

#signUp {
    width: 94.18vw;
    height: 30vh;
    color: white;
    background-color: hsl(238, 22%, 44%);
    padding: 5rem 0 0 6vw;
    margin-left: -15%;
    display: flex;
    justify-content: center;
    gap: 25vh;
    margin-bottom: -10.5%;
}

.signUpInfo {
    width: 35vw;
    margin-left: -8%;
}

.actionField {
    width: 35vw;

}

.inputEmail2 {
    width: 34vw;
    height: 5vh;
    border: none;
    border-radius: 3px;
    padding-left: 1rem;
    box-shadow: 1px 1px 5px hsla(243, 87%, 12%, 0.663);
    margin: 1.9rem 0 2rem;
    font-size: 14px;
}

.startBtn2 {
    width: 15vw;
    height: 5vh;
    color: white;
    background-color: hsl(224, 93%, 58%);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 1px 1px 5px hsla(243, 87%, 12%, 0.663);
    font-size: 14px;
    padding: 0 1rem;

}

#footerSection {
    width: 100.1vw;
    height: 55vh;
    color: white;
    background-color: hsl(243, 87%, 12%);
    margin-left: -5.9%;
    display: flex;
    margin-bottom: -100%;
}

.contact {
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    margin-top: 0;
}

.contactIcon {
    width: 15%;
    line-height: 3rem;
    margin-top: -13vh;
}

footer {
    margin: 4% 0 0 5%;
}

.footerLinks {
    color: white;
    text-decoration: none;
}

.footerLinks:hover {
    color: hsl(224, 93%, 58%);
}

.leftColumn {
    margin: 24.5vh 11rem 0 -5.5vw;
    color: hsl(240, 75%, 98%);
} 

.midColumn, .rightColumn {
    margin: 24.5vh 10vw 0 0;
    color: hsl(240, 75%, 98%);

}

#icons {
    display: flex;
    gap: 1rem;

}

.fbIcon, .twitIcon, .instaIcon {
    width: 30px;
    filter: invert(100%);
    position: relative;
    top: 152vh;
    left: 60vw;
    display: none;
}



