    body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: hsl(243, 87%, 12%);
    background-color: white;
    overflow-x: hidden;

}

main {
    margin: 4% 0 0 5%;
}

.logo {
    margin: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: hsl(243, 87%, 12%);
}

#name {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: hsl(243, 87%, 12%);
}


.sectionOne {
    position: relative;
    top: -1rem;
    padding-right: 3rem;
}

nav {
    display: flex;
    justify-content: end;
    margin: -5% 5% 0 0;
    gap: 3rem;
    position: relative;
    top: 20px;
}

.f:hover, .t:hover, .s:hover { /* features, team, sign in hover */
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 5px;
}


.landingTitel {
    margin-top: 12rem;
}

#intro {
    margin-right: 60%;
}

.inputEmail {
    width: 53%;
    height: 5vh;
    margin-top: 0.5rem;
    border: 1px solid black;
    padding-left: 3%;
    border-radius: 3px;
    font-size: 14px;
}
  
.startBtn {
    width: 31%;
    height: 5.5vh;
    margin-left: 2%;
    color: white;
    background-color: hsl(224, 93%, 58%);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;

}

.startBtn:hover, .startBtn2:hover {
    background-color: hsl(224, 93%, 70%);
    transition-duration: 1s;
}

.illu1, .illu2 {
    width: 100%;
    object-fit: contain;
    margin: 8vh 0 0 -5vh;
}

.illu2 {
    width: 90%;
    position: relative;
    bottom: 13vh;
    left: 10vw;
}


#leftSide {
    width: 45vw;
    height: 50rem;
}

#rightSide {
    width: 620px;
    height: 100%;
    margin-top: 3rem;
}

#leftSideBottom {
    width: 90vw;
    height: 80vh;
    margin-top: -1vh;
}

#rightSideBottom {
    width: 70rem;
    height: 25rem;
    position: relative;
    top: 9vh;
    right: 4vw;
}

#wrapper {
    display: flex;
    gap: 5%;
}

#wrapperBottom {
    width: 80rem;
    height: 35rem;
    display: flex;
    gap: 5%;
    background-color: hsl(255, 40%, 98%);
    padding: 15%;
    margin: -12% 0 0 -15%;
}

#bgCurve {
    margin: 0 0 5vh -5.8%;
    z-index: 1000;

}

.introD {
    color: hsl(170, 45%, 43%);
    text-underline-offset: 10px;
}

.introD:hover {
    color: hsl(170, 56%, 59%);
}

.iconArrow {
    position: relative;
    top: 4px;
}

.infoSection {
    margin-right: 3rem;
    margin-top: 2rem;

}

#card {
    margin-top: 50px;
    width: 21rem;
    height: 190px;
    color: hsl(238, 22%, 44%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px hsla(0, 0%, 78%, 0.235);
    font-weight: 700;
    font-size: 14px;
    padding: 2rem 2rem 0 2rem;
}


#authorSection {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
}

#avatar {
    width: 10%;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 1rem;
}

#iconQuotes {
    margin-bottom: 0.5rem;
}


span {
    color: hsl(238, 22%, 44%);
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

#signUp {
    width: 94.6vw;
    height: 25vh;
    color: white;
    background-color: hsl(238, 22%, 44%);
    padding: 8vh 0 8vh 6vw;
    margin-left: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25vh;
    margin-bottom: -10.5%;
}

.signUpInfo {
    width: 40vw;
    margin-left: -5vw;
}

.actionField {
    width: 34vw;
}

.inputEmail2 {
    width: 32vw;
    height: 5vh;
    border: none;
    border-radius: 3px;
    padding-left: 1rem;
    box-shadow: 1px 1px 5px hsla(243, 87%, 12%, 0.663);
    margin: 1.9rem 0 1.2rem;
    font-size: 14px;
}

.startBtn2 {
    width: 15vw;
    height: 5vh;
    color: white;
    background-color: hsl(224, 93%, 58%);
    border: none;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 1px 1px 5px hsla(243, 87%, 12%, 0.663);
    font-size: 14px;
    padding: 0 1rem;

}

#footerSection {
    width: 100.5vw;
    height: 48vh;
    color: white;
    background-color: hsl(243, 87%, 12%);
    margin-left: -5.9%;
    display: flex;
    margin-bottom: -100%;
}

.logoFooter {
    filter: invert(50%) sepia(100%) saturate(3555500%); /* changed svg file with dif colors to white // no clue what i did with the saturation but it worked */
    position: relative;
    top: 12vh;
    left: 88px;
}

.contact {
    display: flex;
    align-items: center;
    margin-left: 1.5vw;
    margin-top: 10px;
}

.contactIcon {
    width: 15%;
    line-height: 3rem;
    position: relative;
    bottom: 102px;
    right: 15px;
   
}

footer {
    margin: 4% 0 0 5%;
}

.footerLinks {
    color: white;
    text-decoration: none;
}

.footerLinks:hover {
    color: hsl(224, 93%, 58%);
}

.leftColumn {
    margin: 20vh 15vw 0 -4.5vw;
    color: hsl(240, 75%, 98%);
} 

.midColumn, .rightColumn {
    margin: 20vh 15vw 0 0;
    color: hsl(240, 75%, 98%);

}

#icons {
    display: flex;
    gap: 1rem;

}

.fbIcon, .twitIcon, .instaIcon {
    width: 30px;
    filter: invert(100%);
    position: relative;
    top: 152vh;
    left: 60vw;
    display: none;
}

::placeholder {
    color: hsl(0, 0%, 75%);
}
